name: Publish Packagist
on:
  workflow_dispatch:
  push:

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Publish to Packagist
        run: |-
          curl --fail-with-body --json '{"repository":"https://github.com/ms-jpq/test-php-publishing"}' -- "https://packagist.org/api/update-package?username=${PACKAGIST_USERNAME}&apiToken=${PACKAGIST_SAFE_KEY}"
        env:
          PACKAGIST_USERNAME: ${{ secrets.PACKAGIST_USERNAME }}
          PACKAGIST_SAFE_KEY: ${{ secrets.PACKAGIST_SAFE_KEY }}
